.main {
    width: 100vw;
    height: 100vh;
}

.auth_sector {
    box-sizing: border-box;
    flex-direction: column;
}

.selector {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.selector>div {
    flex: 1;
}